{% extends 'base.html' %} {% block content %}

<style>
    p {
    font-family: Lato, sans-serif;
    }
 </style>
 <div class="masthead">
    <div class="container">
       <div class="row g-0">
          <div class="col-md-6 masthead-text">
             <!-- Post title goes in these h1 tags -->
             <h1 class="post-title">
                <br>
                Nothing happens until something moves!
             </h1>
          </div>
          <div class="d-none d-md-block col-md-6 masthead-image">
             <!-- The featured image URL goes in the src attribute -->
             <img src="https://res.cloudinary.com/deokcf057/image/upload/v1676498555/mmc_logo_cnuudp.jpg" width="100%">
          </div>
       </div>
    </div>
 </div>
 <div class="container">
    <div class="row">
       <div class="col card mb-4  mt-3 left  top">
          <div class="card-body">
             <!-- The post content goes inside the card-text. -->
             <!-- Use the | safe filter inside the template tags -->
             <p class="card-text ">
                Move Mo Chara Blog was created to help be a hub for my passion project, Move Mo Chara Podcast. 
                <br>
                <br>
                Move Mo Chara came about because I am passionate about movement in all forms and I have a natuaral curiosity about what drives people who's careers are built on movement. 
                The podcast is more focused on the movement of body, however, I love movement in all shapes and forms. From moving abroad, careers and travel and most of all, 
                challenging myself to move out of my comfort zone. 
                <br>
                <br>
                I wanted to create a hub where I can expand Mo Move Chara
                beyond the podcast and explore movement in all avenues of life.
                <br>
                <br>
                Albert Einstein said it the best - Nothing happens until something moves!
                <br>
                <br>
                <img src="https://res.cloudinary.com/deokcf057/image/upload/v1676556204/bbj_carly_slgaba.jpg" width="100%" >
             </p>
             <div class="row">
             </div>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col">
       </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
 </div>

{% endblock content %}
