{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <title>Move Mo Chara Blog</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Blog which developed from a podcast">
	    <meta name="keywords" content="Movement, Podcast, Travel">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
            <style>
                body {
                font-family: "Roberto", lato;
                font-size: 17px;
                background-color: #fdfdfd;
                }
                .shadow {
                box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
                }
                .masthead {
                background: #70c6ad;
                height: auto;
                padding-bottom: 15px;
                box-shadow: 0 16px 48px #E3E7EB;
                padding-top: 10px;
                }
                footer {
                padding-top: 15px;
                }
                .btn {
                margin: 10px;
                }

            </style>
    </head>
    <body>
        
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add_post' %}">New Blog Post</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown"
                                href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                            <div class="dropdown-menu">                      
                                <a class="dropdown-item" href="{% url 'about' %}">
                                About Me
                                </a>
                                <a class="dropdown-item" href="{% url 'contact' %}">
                                Contact Me
                                </a>
                                <a class="dropdown-item" href="https://open.spotify.com/show/3vz3lMbS63UUXyUPaM54b2" target="_blank">
                                Podcast
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown"
                                href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                            <div class="dropdown-menu">
                                {% for category in category_list %}
                                <a class="dropdown-item" href="/category/{{ category.name }}">
                                {{ category.name|title }}
                                </a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                    <span class="navbar-text text-muted">
                    <span class="brand">Move Mo Chara Blog </span>
                    </span>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                        {{ message | safe }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="footer masthead mt-auto py-3">
         <div class="container">
            <span class="text-center text-light">
                <h2>Move Mo Chara</h2>
                <p> Nothing Happens Until Something Moves</p>
                <div class="social">
                    <h4>Social</h4>
                    <!-- Facebook -->
                    <span class="bg.light">
                    <a href="https://open.spotify.com/show/3vz3lMbS63UUXyUPaM54b2" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-spotify"></i></a>
                    <a href="https://www.instagram.com/movemochara/" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
                    </span>
            </span>
         </div>
        </footer>
        <!-- Javascript for alert system. Messages will disapear after a few seconds -->
        <script>
            setTimeout(function() {
                let messages = document.getElementById("msg")
                let alert = new bootstrap.Alert(messages);
                alert.close();
            }, 2500);
        </script>
    </body>
</html>