{% extends "base.html" %}


{% block content %}
<!--Contact form-->
<style>
  #id_message {
  width: 100%;
  }
</style>
<div class="container">
  <br>
  <h1>Get in touch </h1>
  <br>
  <p>If you interested in finding out more or a guest apperance on the podcast, fill
      in the form below!
  </p>
  <div class="row">
      <div class="col-md-4 card mb-4  mt-3 left  top">
          <div class="card-body">
              <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-dark" type="submit" value="Submit">
                </form>
              </div>
              <div class="row"></div>
              <br><br>
          </div>
      </div>
  </div>
  <a href="{% url 'home' %}"class="btn btn-dark">Back</a>
</div>
{% endblock content %}

  