{% extends "base.html" %}


{% block content %}
<!--Contact form-->
<style>
  #id_message {
  width: 100%;
  }
</style>

<div class="masthead">
  <div class="container">
      <div class="row g-0">
          <div class="col-md-6 masthead-text">
              <!-- Post title goes in these h1 tags -->
              <h1 class="post-title">
                  <br>
                  Get in Touch</h1>
                  <br>
              <!-- Post author goes before the | the post's created date goes after -->
          </div>
      </div>
            
      </div>
  </div>

<div class="container">
  <div class="row">
      <div class="col-md-4 card mb-4  mt-3 left  top">
          <div class="card-body">
              <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-dark" type="submit" value="Submit">
                </form>
              </div>
              <div class="row"></div>
              <br><br>
          </div>
      </div>
  </div>
  <a href="{% url 'home' %}"class="btn btn-dark">Back</a>
</div>
{% endblock content %}

  