{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">
                    <br>
                    Thank You</h1>
                <!-- Post author goes before the | the post's created date goes after -->
            </div>
        </div>
              
        </div>
    </div>
    <div>
        <div class="container">
            <br>
            
            <div class="row">
                <div class="col-md-4 card mb-4  mt-3 left  top">
                    <div class="card-body">
                        <div class="form-group">
                            <p>I will be in touch with you as soon as possible and look forward to connecting</p>
                            <br>
                            <p>In the mean time, be sure to move the body to help move the mind.</p>
                            <br>
                            <p>Take Care!</p>
                        </div>
                        <div class="row"></div>
                        <br><br>
                    </div>
                </div>
            </div>
            <a href="{% url 'home' %}"class="btn btn-dark">Home</a>
          </div>
{% endblock %}